{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ object.title }} - {{ block.super }}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <h1>{{ object }}</h1>
            <p>{{ object.plot }}</p>
            <p>Directed by: {{ object.director }}</p>
            <p>Written by: {{ object.writers.all|unordered_list }}</p>
            <h2>Actors</h2>
            <ul>
                {% for credit in object.role_set.all %}
                    <li>
                        <a href="{% url 'core:person_detail' pk=credit.person.id %}">{{ credit.person }} {{ credit.billing }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="movie-image list-inline">
                {% for i in object.movieimage_set.all %}
                    <li class="list-inline-item mb-3">
                        <img src="{{ i.image.url }}" alt="">
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            This movie is rated: <span class="badge badge-primary">{{ object.get_rating_display }}</span>
            <h2>
                Score: {{ object.score|default_if_none:"TBD" }}
            </h2>
            {% if image_form %}
                <h2>Upload New Image</h2>
                <form method="post" enctype="multipart/form-data"
                      action="{% url 'core:movie_image_upload' movie_id=object.id %}" novalidate>
                    {% csrf_token %}
                    {{ image_form|crispy }}
                    <p>
                        <button class="btn btn-outline-primary btn-sm">Upload</button>
                    </p>
                </form>
            {% endif %}
            {% if vote_form %}
                <form method="post" action="{{ vote_form_url }}" novalidate>
                    {% csrf_token %}
                    {{ vote_form|crispy }}
                    <button class="btn btn-outline-primary btn-sm">Vote</button>
                </form>
            {% else %}
                <p>Log in to vote for this movie</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
