{% extends "base.html" %}
{% load cache %}

{% block title %}
    Top Rated Movies
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <header class="text-center">
                <h1>Top Rated Movies</h1>
                <h2>The highest rated movie so far is at #1</h2>
            </header>
            {% cache 300 top10 %}
                <ol>
                    {% for movie in object_list %}
                        <li class="mb-3">
                            <a href="{% url "core:movie_detail" pk=movie.id %}">
                                {{ movie }}</a>
                        </li>
                    {% endfor %}
                </ol>
            {% endcache %}
        </div>
    </div>
{% endblock %}